# Hybrid desktop runtime config: keep outer mt tile ring, otherwise adopt Onedrive style

<<include __CIRCOS_ETC_DIR__/housekeeping.conf>>
<<include __CIRCOS_ETC_DIR__/colors_fonts_patterns.conf>>
<<include __CIRCOS_ETC_DIR__/colors.brewer.conf>>
<<include __CIRCOS_ETC_DIR__/colors.ucsc.conf>>
<<include __PROJECT_ROOT__/conf/confs/custom_colors.conf>>

anti_aliasing* = no
max_points_per_track* = 30000
max_links* = 30000000

<<include __PROJECT_ROOT__/conf/confs/ideogram_NUMTs.conf>>
<<include __PROJECT_ROOT__/conf/confs/ticks_NUMTs.conf>>
<<include __PROJECT_ROOT__/conf/confs/karyotype_NUMTs.conf>>
karyotype* = __PROJECT_ROOT__/conf/reference/karyotype.human.hg38.txt

<image>
angle_offset* = -90
file*  = CircosPlot_allBreakpoint.germline
svg*   = yes
png*   = yes
radius* = 1500p
<<include __CIRCOS_ETC_DIR__/image.conf>>
</image>

<links>
<link>
ribbon           = no
bezier_radius    = 0r
crest            = 0.50
bezier_radius_purity = 1
file             = __PROJECT_ROOT__/output/runtime/data/links_numts_breakpoints.txt
radius           = 0.999r
thickness        = 10
<rules>
<<include __PROJECT_ROOT__/conf/confs/links_allBreakpoints.soma.conf>>
</rules>
</link>
</links>

<plots>
<plot>
type             = tile
file             = __PROJECT_ROOT__/output/runtime/data/mtFragments_germline.txt
r1               = 1.40r
r0               = 1.01r
orientation      = out
layers           = 800
margin           = 0.1u
thickness        = 0.10
padding          = 0.20
color            = blue
layers_overflow  = grow
stroke_thickness = 0
stroke_color     = white
</plot>
</plots>
